<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Congruencial Lineal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Semilla X0</ion-label>
            <ion-input [(ngModel)]="seedX0" type="number" placeholder="Ingresa la semilla X0"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Constante multiplicativa (a)</ion-label>
            <ion-input [(ngModel)]="constantA" type="number" placeholder="Ingresa la constante a"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Constante aditiva (c)</ion-label>
            <ion-input [(ngModel)]="constantC" type="number" placeholder="Ingresa la constante c"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Módulo (m)</ion-label> <!-- Etiqueta corregida -->
            <ion-input [(ngModel)]="modM" type="number" placeholder="Ingresa el módulo m"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Cantidad de números a generar</ion-label>
            <ion-input [(ngModel)]="numToGenerate" type="number" placeholder="Cantidad de números"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col size="12">
          <ion-item>
            <ion-label>Mostrar decimales completos</ion-label>
            <ion-toggle [(ngModel)]="showFullDecimals"></ion-toggle>
          </ion-item>
        </ion-col>

        <ion-col size="12">
          <ion-button expand="block" (click)="generateNumbers()">Generar Números</ion-button>
        </ion-col>
  
        <ion-col size="12">
          <ion-list>
            <ion-item *ngFor="let result of results; let i = index">
              <ion-label>
                <h2>Número aleatorio {{i+1}}: 
                  <ng-container *ngIf="showFullDecimals; else truncated">
                    {{result.fullRi | number:'1.12-12'}}
                  </ng-container>
                  <ng-template #truncated>
                    {{result.roundedRi | number:'1.4-4'}}
                  </ng-template>
                </h2>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
