ion-header {
  --background: rgba(0, 0, 0, 0.5); /* Fondo oscuro traslúcido */
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background: -webkit-linear-gradient(45deg, #ff8a00, #e52e71); /* Degradado en el texto */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* Hace que el texto tenga un degradado */
}

ion-content {
  --background: none;
  position: relative;
  background-image: url('/assets/img/glitter-golden-bokeh-lights-scaled.jpeg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  position: relative;
  z-index: 2;
}

.box {
  width: 160px; /* Tamaño ligeramente mayor */
  height: 160px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(145deg, #ff8a00, #e52e71);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4); /* Sombra más profunda */
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border-radius: 25px; /* Bordes más redondeados */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation: float 4s ease-in-out infinite; /* Animación más suave y lenta */
  cursor: pointer; /* Muestra el cursor de clic */
  border: 2px solid rgba(255, 255, 255, 0.3); /* Borde ligero alrededor de los botones */
}

.box:hover {
  animation: none;
  transform: translateY(-15px);
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.5); /* Aumenta la sombra en hover */
}

/* Animación de flotación */
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
