<ion-header>
  <ion-toolbar>
    <ion-title>NUMEROS ALEATORIOS POr: Cristhian Yañez</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background-overlay"></div>
  <div class="container">
    <div class="box" (click)="navigateTo('cuadrados-medios')">Cuadrados Medios</div>
    <div class="box" (click)="navigateTo('productos-medios')">Productos Medios</div>
    <div class="box" (click)="navigateTo('congruencial-multiplicativo')">Congruencial Multiplicativo</div>
    <div class="box" (click)="navigateTo('congruencial-lineal')">Congruencial Lineal</div>
  </div>
</ion-content>
